{% extends "base.jinja" %}

{% block contenue %}
 <h1>Ajouter un utilisateur</h1>
    <form method="POST" action="{{ url_for('compte.ajouter_utilisateur') }}">
        <div>
            <label for="courriel">Courriel :</label>
            <input type="email" id="courriel" name="courriel" required pattern="[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}" title="Entrez une adresse email valide">
        </div>
        <div>
            <label for="nom">Nom :</label>
            <input type="text" id="nom" name="nom" required>
        </div>
        <div>
            <label for="mdp">Mot de passe :</label>
            <input type="password" id="mdp" name="mdp" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,}$" title="Le mot de passe doit contenir au moins 8 caractères, une lettre majuscule, une lettre minuscule et un chiffre">
        </div>
        <button type="submit">Ajouter</button>
    </form>
{% endblock %}
