{% extends "base.jinja" %}

{% block contenue %}
<h1>Liste des Utilisateurs</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Courriel</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for utilisateur in utilisateurs %}
                <tr>
                    <td>{{ utilisateur.id_utilisateur }}</td>
                    <td>{{ utilisateur.courriel }}</td>
                    <td>{{ utilisateur.nom }}</td>
                    <td>
                    <form method="POST" action="{{ url_for('compte.supprimer_utilisateur', id=utilisateur.id_utilisateur) }}">
                    <button type="submit">Supprimer cet utilisateur</button>
                    </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}