{% extends 'base.jinja'%}


{% block contenue %}
        <form method="post" action="/compte/authentifier" novalidate="novalidate">

        <div>
            <label for="courriel">
                Courriel : </label>
            <input type="email" name="courriel" id="courriel" placeholder="votre courriel"
                value="{{courriel}}"
{% if erreur %}

{% endif %}
            />
        </div>
        <div>
            <label for="mdp">Mot de passe : </label>
            <input type="password" name="mdp" id="mdp" placeholder="votre mot de passe"
{% if erreur %}
{% endif %}
            />

        </div>

        <div>
            <button type="submit">S'authentifier</button>
        </div>
    </form>
{% endblock %}