{% extends "base.jinja" %}
{% block title %}Accueil | Marché aux puces{% endblock %}
{% block contenue %}
<h2>les 5 Derniers Objets</h2>
<div class="row">
    {% for objet in objets %}
    <div class="col-md-4" id="card">
        <div class="card mb-4">
            <div class="d-flex flex-column">
                <img src="/static/images/objets/{{ objet.photo }}" class="card-img-top" style="max-height: 500px" alt="{{ objet.titre }}">
                <div class="card-body flex-fill">
                    <h5 class="card-title">{{ objet.titre }}</h5>
                    <p class="card-text">{{ objet.description }}</p>
                    <a href="{{ url_for('objet.detail_objet', id=objet.id) }}" class="btn btn-primary mt-auto">Voir les détails</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
