{% extends "base.jinja" %}
{% block title %}Accueil | Marché aux puces{% endblock %}
{% block contenue %}
    <h1>{% if objet %}Modifier{% else %}Ajouter{% endif %} un objet</h1>
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="titre">Titre</label>
            <input type="text" class="form-control" id="titre" name="titre" value="{{ objet.titre if objet else '' }}" required>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" name="description" required>{{ objet.description if objet else '' }}</textarea>
        </div>
        <div class="form-group">
            <label for="photo">Photo</label>
            <input type="file" class="form-control-file" id="photo" name="photo">
        </div>
        <div class="form-group">
            <label for="categorie">Catégorie</label>
            <select class="form-control" id="categorie" name="categorie">
                {% for cat in categorie %}
                    <option value="{{ cat.id }}">{{ cat.description }}</option>
                {% endfor %}
            </select>
        </div>
        <input type="hidden" name="date_creation" value="{{ date_creation }}">
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </form>
{% endblock %}
