<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{{ titre }}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Tp2</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/objet/ajout">Ajouter un objet</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/objet/listeObjet">Liste des objets</a>
                </li>
                {% if 'utilisateur' in session and session['utilisateur']['admin'] %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('compte.liste_utilisateurs') }}">Liste des utilisateurs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('compte.ajouter_utilisateur') }}">Ajouter un utilisateur</a>
                </li>
                {% endif %}
            </ul>
        </div>
        <ul class="navbar-nav ml-auto"> <!-- Ajoutez cette ligne -->
            {% if 'utilisateur' not in session %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('compte.authentifier') }}">Connexion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('compte.creer') }}">Créer un compte</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('compte.deconnecter') }}">Déconnexion</a>
                </li>
            {% endif %}
        </ul> <!-- Ajoutez cette ligne -->
    </nav>
</header>

<div class="container" id="contenue">
    {% block contenue %}
        <!--Contenue des pages -->
    {% endblock %}
</div>

<footer class="bg-light text-center py-3">
    <p>2023 Pierre Jr Gaulin</p>
    <p>Bienvenue sur mon site</p>
</footer>

</body>
</html>
