{% extends "base.jinja" %}
{% block title %}Accueil | Marché aux puces{% endblock %}
{% block contenue %}
<div class="card">
    {% if objet.photo %}
        <img src="/static/images/objets/{{ objet.photo }}" class="card-img-top" alt="{{ objet.titre }}">
    {% else %}
        <img src="/static/images/objets/default.jpg" class="card-img-top" alt="Photo par défaut">
    {% endif %}
    <div class="card-body">
        <h5 class="card-title">{{ objet.titre }}</h5>
        <p class="card-text">{{ objet.description }}</p>
        <p class="card-text">Catégorie : {{ objet.categorie_description }}</p>
        <a href="{{ url_for('objet.modifier_objet', id=objet.id) }}" class="btn btn-primary">Éditer l'objet</a>
        {% if 'utilisateur' in session and (session['utilisateur']['id_utilisateur'] == objet.id_utilisateur or ('admin' in session and session['admin'])) %}
            <a href="{{ url_for('objet.supprimer_objet', id=objet.id) }}" class="btn btn-danger">Supprimer l'objet</a>
        {% endif %}
    </div>
</div>
{% endblock %}
