{% extends "base.jinja" %}
{% block title %}Accueil | Marché aux puces{% endblock %}
{% block contenue %}
<h2>Liste des Objets</h2>

<!-- Formulaire de recherche -->
<form method="GET" action="{{ url_for('objet.liste_objets') }}" class="mb-4">
    <div class="input-group">
        <input type="text" class="form-control" id="recherche" name="recherche" placeholder="Rechercher un objet" value="{{ recherche }}">
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Rechercher</button>
        </div>
    </div>
</form>

<!-- Affichage des objets -->
<div class="row">
    {% for objet in objets %}
    <div class="col-md-4" id="card">
        <div class="card mb-4">
            <div class="d-flex flex-column">
                <img src="/static/images/objets/{{ objet.photo }}" class="card-img-top" style="max-height: 500px" alt="{{ objet.titre }}">
                <div class="card-body flex-fill">
                    <h5 class="card-title">{{ objet.titre }}</h5>
                    <p class="card-text">{{ objet.description }}</p>
                    <a href="{{ url_for('objet.detail_objet', id=objet.id) }}" class="btn btn-primary mt-auto">Voir les détails</a>
                    {% if 'utilisateur' in session and session['utilisateur']['id_utilisateur'] != objet.id_utilisateur %}
                    <a href="{{ url_for('objet.troquer_objet', id=objet.id) }}" class="btn btn-success mt-auto">Troquer</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
