{% extends "base.jinja" %}

{% block contenue %}
    <h1>Modification de l'objet</h1>
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="titre">Titre</label>
            <input type="text" class="form-control" id="titre" name="titre" value="{{ objet.titre }}" required>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" name="description" required>{{ objet.description }}</textarea>
        </div>
        <div class="form-group">
            <label for="categorie">Catégorie</label>
            <select class="form-control" id="categorie" name="categorie">
                <!-- Options de catégorie ici -->
                {% for cat in categories %}
                    <option value="{{ cat.id }}" {% if cat.id == objet.categorie %}selected{% endif %}>{{ cat.description }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="nouvelle_photo">Nouvelle photo</label>
            <input type="file" class="form-control-file" id="nouvelle_photo" name="nouvelle_photo">
        </div>
        <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
    </form>
{% endblock %}
