{% extends "base.jinja" %}
{% block title %}Troquer un Objet | Marché aux puces{% endblock %}
{% block contenue %}
<h2>Troquer un Objet</h2>
<p>Vous avez choisi de troquer l'objet suivant :</p>
<div class="card">
    <img src="/static/images/objets/{{ objet.photo }}" class="card-img-top" alt="{{ objet.titre }}">
    <div class="card-body">
        <h5 class="card-title">{{ objet.titre }}</h5>
        <p class="card-text">{{ objet.description }}</p>
    </div>
</div>
<form method="POST">
    <div class="form-group">
        <label for="objet_a_troquer">Sélectionnez un de vos objets à troquer :</label>
        <select class="form-control" id="objet_a_troquer" name="objet_utilisateur">
            {% for o in objets_utilisateur %}
                <option value="{{ o.id }}">{{ o.titre }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Troquer</button>
</form>
{% endblock %}
