{% extends "baseErreur.jinja" %}

{% block titre %}Erreur 403 - Accès interdit{% endblock %}

{% block contenue %}
    <h1>Erreur 403 - Accès interdit</h1>
    <p>Accès interdit, vous n'avez pas les autorisations nécessaires pour accéder à cette page.</p>
{% endblock %}
