<!DOCTYPE html>
<html>
<head>
    <title>Erreur 400 - Paramètre manquant</title>
</head>
<body>
    <h1>Erreur 400 - Paramètre manquant</h1>
    <p>Il manque des paramètre dans l'URL.</p>
</body>
</html>