{% extends "baseErreur.jinja" %}

{% block titre %}Erreur 401 - Accès non autorisé{% endblock %}

{% block contenue %}
    <h1>Erreur 401 - Accès non autorisé</h1>
    <p>Accès non autorisé, veuillez vous connecter pour accéder à cette page.</p>
    <a href="{{ url_for('compte.authentifier') }}">Se connecter</a>
{% endblock %}
